<div class= "profile-header">
  <p>Welcome, <%=current_user.name %>!</p>
</div>
<hr>
<br>

<div class = "container">
  <% @user.foods.each do |food| %>
    <%= food.name %>
    <%= food.calories %>
  <% end %>
<br>
 Add some food :
<%= render 'food_form' %>

</div>
