<div class="background-image">

  <div class="row catch-line-container">
    <h1 class="catch-line"> Are you ready to conquer new fitness heights? </h1>
  </div>
  <div class="row">
    <div class="col-xs-12">
        <%= link_to "Sign Up", new_user_registration_path, class: "btn-lg btn btn-warning" %>
        <%= link_to 'Login', new_user_session_path, class: "btn-lg btn btn-primary" %>
    </div>
  </div>
</div>
